DISCORD_BOT_TOKEN=changeme
N8N_WEBHOOK_URL=http://192.168.178.69:5678/webhook/second-brain-chat
DISCORD_CHANNEL_IDS=changeme
REQUEST_TIMEOUT_SECONDS=120
WHISPER_URL=http://192.168.178.69:9000/asr?output=text
