HOMEPAGE_VAR_SONARR_API_KEY=changeme
HOMEPAGE_VAR_SONARR_4K_API_KEY=changeme
HOMEPAGE_VAR_RADARR_API_KEY=changeme
HOMEPAGE_VAR_RADARR_4K_API_KEY=changeme
HOMEPAGE_VAR_PROWLARR_API_KEY=changeme
HOMEPAGE_VAR_OVERSEERR_API_KEY=changeme
HOMEPAGE_VAR_TAUTULLI_API_KEY=changeme
HOMEPAGE_VAR_QBITTORRENT_USERNAME=changeme
HOMEPAGE_VAR_QBITTORRENT_PASSWORD=changeme
